body {
    background-color: #3dbcbf;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a:link {
    color: #f0fdff;
    text-decoration: none;
    font-weight:bold
}

nav a:visited {
    color: #0a5657
}

h1 {
    color: #f0fdff;
}

h2 {
    color: #f0fdff;
}

p {
    color: #f0fdff;
}

li {
    color: #f0fdff;
}

.personal {
    background-color: #149698
}